.header {
	@apply border border-transparent;
	height: 300px;
}

.avatar {
  @apply border-4 border-transparent rounded-full hover:border-dashed hover:border-blue-400 hover:scale-110 duration-300;
}

.info {
	@apply bg-[#151515];
	height: 165px;
}

.menu {
	@apply flex gap-1;
	> input {
		display: none;

		&:checked + label {
			@apply text-zinc-300 bg-zinc-800;
		}
	}

	> label {
		@apply text-zinc-500 py-2 px-6 cursor-pointer uppercase rounded-md
		hover:text-zinc-300 hover:bg-zinc-800 duration-300;

		&:first-child {
			@apply text-zinc-300 bg-zinc-800;
		}
	}
}

.description {
	@apply text-zinc-400 tracking-wide;
	width: 600px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
