@import '../../styles/variables.scss';
$checkbox__size: 20px;
$mark__size: 12px;

.form {
	@apply px-4 bg-[#131313] pb-2;
	z-index: 1001;
}

.input {
	width: 100%;
}

.thumbnail {
	@apply relative block border-2 border-transparent rounded-md cursor-pointer
	hover:border-blue-500 duration-300;
	width: $card__width;
	height: $card__height;
}

.duration {
	@apply absolute text-white bottom-2 right-3 px-2 py-1 rounded-md;
	background-color: rgba(0, 0, 0, 0.7);
}

.checkbox {
	position: relative;
	align-self: flex-start;
}

.checkbox__input {
	appearance: none;
	-webkit-appearance: none;
	position: absolute;

	&:checked + .checkbox__label:after {
		opacity: 1;
	}
}

.checkbox__label {
	@apply flex gap-2 items-center cursor-pointer text-zinc-400;

	&:before {
		content: '';
		display: block;
		width: $checkbox__size;
		height: $checkbox__size;

		@apply border border-[#EB5C2A] rounded-md;
	}

	&:after {
		content: '';
		display: block;
		width: $mark__size;
		height: $mark__size;
		top: 6px;
		bottom: 0;
		right: 0;
		left: 4px;

		background: url('../../assets/img/check-mark.png') no-repeat;
		background-size: cover;
		position: absolute;
		opacity: 0;
	}
}

.circle {
	width: 20px;
	height: 20px;
	@apply border border-dashed border-green-400 rounded-full;
	animation: circle 3s infinite;
}

@keyframes circle {
	from {
		transform: scale(1) rotate(0);
		@apply border-green-400;
	}
	to {
		transform: scale(1.5) rotate(360deg);
		@apply border-green-800;
	}
}
