$size: 250px;

.title {
	@apply tracking-wider text-center text-[40px] mb-[100px];

	animation: title 4s infinite;
}

.loader {
	@apply border border-dashed border-white rounded-full mx-auto;
	width: $size;
	height: $size;
	padding: 40px;

	animation: loader 4s infinite;
}

@keyframes loader {
	from {
		transform: scale(1) rotate(0);
		@apply border-white;
	}
	to {
		transform: scale(1.5) rotate(360deg);
		@apply border-black;
	}
}

@keyframes title {
	from {
		@apply text-white;
	}
	to {
		@apply text-black;
	}
}
