@import './variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	list-style: none;
	outline: none !important;
}

body {
	background-color: $main_bg_color;
	color: $main_text_color;
	font-family: Roboto;
	//Montserrat;
}

.grid {
  display: inline-grid;
  gap: 12px;
  grid-template-columns: repeat(4, auto);

  @media (max-width: 1780px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: 1030px) {
    grid-template-columns: repeat(1, auto);
  }
}

// AUTHFORM ANIMATION

.auth-enter {
	opacity: 0;
	transform: scale(0.9);
}
.auth-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}
.auth-exit {
	opacity: 1;
}
.auth-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

// POPUPMENU ANIMATION

.popup-enter {
	opacity: 0;
	transform: translateY(-10%);
}
.popup-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 300ms, transform 300ms;
}
.popup-exit {
	opacity: 1;
	transform: translateY(0);
}
.popup-exit-active {
	opacity: 0;
	transform: translateY(-10%);
	transition: opacity 300ms, transform 300ms;
}

// MODALWINDOW ANIMATION

.modal-enter {
	opacity: 0;
}
.modal-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.modal-exit {
	opacity: 1;
}
.modal-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

// VOLUME ANIMATION

.volume-enter {
	width: 16px;
}
.volume-enter-active {
	width: 70px;
	transition: width 0.3s;
}
.volume-exit {
	width: 70px;
}
.volume-exit-active {
	width: 16px;
	transition: width 0.3s;
}

// PLAY ANIMATION

.play-enter {
	opacity: 0;
	transform: scale(0.9);
}
.play-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}
.play-exit {
	opacity: 1;
}
.play-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
