.header {
	height: 300px;
}

.info {
	@apply bg-[#151515];
	height: 165px;
}

.menu {
	@apply flex gap-1;

	> li {
		@apply text-zinc-500 py-2 px-6 cursor-pointer uppercase rounded-md
		hover:text-zinc-300 hover:bg-zinc-800 duration-300;

		&:first-child {
			@apply text-zinc-300 bg-zinc-800;
		}
	}
}

.description {
	@apply text-zinc-400 tracking-wide;
	width: 600px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
