@import '../../styles/variables.scss';

.wrapper {
	@apply sticky top-0;
	box-shadow: 0 0 15px rgb(74, 70, 70);
	background-color: $main_bg_color;
	z-index: 1000;
}

.container {
	@apply flex items-center;
	padding: 5px $main__spaceX;
}

.section__1 {
	width: 350px;
}

.section__2 {
	@apply flex justify-between items-center w-full;
}
