$play__size: 100px;

.panel {
	@apply absolute bottom-0 right-0 flex flex-col w-full pt-[150px];
	opacity: 0;
	transition: opacity 0.3s;

	&:hover {
		opacity: 1;
	}
}

.volume__notif {
	@apply absolute left-[50%] top-[15%] flex items-center gap-2;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	animation: play 1s;
}

.rewind {
	@apply absolute bottom-[50%] flex flex-col items-center p-4 rounded-xl pointer-events-none;

	background: rgba(0, 0, 0, 0.2);
	opacity: 0;

	animation: play 1s;
}

.rewind__left {
	@apply left-[15%];
}

.rewind__right {
	@apply right-[15%];
}

.play {
	@apply absolute bottom-[50%] left-[50%] p-4 rounded-xl pointer-events-none;
	height: $play__size;
	width: $play__size;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;

	animation: play 1s;
}

.player {
	@apply rounded-lg;
	z-index: 999;
	box-shadow: 0 0 5px black;
	width: 100%;
	max-width: 1150;
	max-height: 600px;
	height: 100%;
	background-color: black;
}

.progress__container {
	@apply absolute top-[-20px] w-full flex pt-4 pb-2;

	&:hover {
		.progress {
			height: 8px;

			&::-moz-range-thumb {
				opacity: 1;
			}
		}
	}
}

.progress {
	@apply cursor-pointer w-full;
	background: rgba(150, 147, 147, 0.6);
	background-image: linear-gradient(red, red);
	background-repeat: no-repeat;
	height: 4px;
	transition: height 0.3s;
	z-index: 1000;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	&::-moz-range-thumb {
		@apply border border-transparent rounded-full;
		background-color: red;
		appearance: none;
		-moz-appearance: none;
		opacity: 0;
		height: 12px;
		width: 12px;
		transition: opacity 0.3s;
	}

	&::-webkit-slider-thumb {
		@apply border border-transparent rounded-full;
		appearance: none;
		-webkit-appearance: none;
		height: 12px;
		width: 12px;
	}
}

.controls {
	@apply flex items-center justify-between px-4;
	background-color: rgba(0, 0, 0, 0.4);
	height: 45px;
	width: 100%;
	z-index: 999;
}

.volume__container {
	@apply flex items-center mr-3;

	&:hover .volume {
		max-width: 70px;

		&::-moz-range-thumb {
			opacity: 1;
			height: 12px;
			width: 12px;
		}
	}
}

.volume__body {
	@apply flex;
	max-height: 4px;
	height: 100%;
}

.volume {
	@apply cursor-pointer rounded-full;
	background: rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	height: 4px;
	transition: max-width 0.3s;

	max-width: 0;
	width: 100%;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	&::-moz-range-thumb {
		@apply border border-transparent rounded-full;
		opacity: 0;
		appearance: none;
		-moz-appearance: none;
		height: 0;
		width: 0;

		transition: all 0.3s;
	}

	&::-webkit-slider-thumb {
		@apply border border-transparent rounded-full;

		appearance: none;
		-webkit-appearance: none;
		height: 0;
		width: 0;
	}
}

@keyframes play {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
