.base {
	@apply border border-transparent font-semibold text-lg mx-auto rounded-md duration-300;
	width: 150px;
	padding: 2px 0;
}

.special {
	background-color: #bc2626;

	&:hover {
		background-color: #9c1f1f;
	}
}

.non_special {
	@apply bg-transparent hover:border-gray-700 font-normal text-base;
}
