.base {
	@apply flex items-center gap-2 px-6 border rounded-md duration-300 cursor-pointer;
	padding: 2px 0;
}

.active {
	@apply bg-transparent border-gray-500 hover:bg-transparent;
}

.non_active {
	@apply border-transparent;
	background-color: #bc2626;

	&:hover {
		background-color: #9c1f1f;
	}
}
